# This program and the accompanying materials are
# made available under the terms of the Eclipse Public License v2.0 which accompanies
# this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
#
# SPDX-License-Identifier: EPL-2.0
#
# Copyright Contributors to the Zowe Project.
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/webClient/node_modules

# production
dataService/build/tmp
dataService/build/zss
/lib
/web

# misc
.DS_Store
*.tar

node_modules/
lib
.nyc_output/
coverage/
web
dist

#pax ignore
.pax/*
!.pax/.keep
!.pax/pre-packaging.sh
!.pax/post-packaging.sh
!.pax/prepare-workspace.sh
!.pax/catchall-packaging.sh

# jenkin ignore
**/*@tmp/

# This program and the accompanying materials are
# made available under the terms of the Eclipse Public License v2.0 which accompanies
# this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
#
# SPDX-License-Identifier: EPL-2.0
#
# Copyright Contributors to the Zowe Project.

